@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f0eaf8;
  padding: 80px;
  font-family: "Inter";
}

@media (max-width: 768px) {
  body {
    padding: 40px 20px;
  }
}